*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: black;
}
.cal-box1
{
    position: relative;
    height: 490px;
    width: 560px;
    margin-top: 200px;
}
img
{
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cal-box1
{
    text-align: center;
    object-fit: cover;
    /* background-color: #EF7C8E; */
    /* background-color: #EF7C8E; */
    background: rgba(59, 59, 57, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.6px);
/* -webkit-backdrop-filter: blur(1.6px); */
    border: 1px solid rgba(114, 96, 96, 0.67);
    padding: 100px 100px;
    color: white;
    /* border: 2px solid #123451; */
    /* justify-content: center; */
    /* align-items: center; */
    top: 0%;
    left: 0%;
    position: absolute;
    /* background-color:; */
}
.flex
{
    display: flex;
    align-items: center;
}
p
{
    font-size: 20px;
    text-transform: capitalize;
    color: rgba(204, 180, 180, 0.67);
    margin-left: 20px;
    font-weight: bolder;
}
.cal-box1 input[type='date']
{
    margin: 5px 20px;
    padding: 20px;
    display: block;
}
.cal-box1 input[type='button']
{
    margin: 10px;
    padding: 10px 30px;
    background-color: rgba(65, 61, 61, 0.67);
    border: none;
    font-size: 20px;
    width: 200px;
    height: 60px;
    color: white;
    text-transform: uppercase;
}
.cal-box1 input[type='text']
{
    display: block;
    margin: 5px;
    padding: 10px;
    width: 350px;
    font-weight: bold;
    font-family: 'Roboto';
    text-transform: uppercase;
    text-align: center;
}